.greet {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.totalphonebill {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.transportFee {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.itemsOver {
    display: flex;
    text-align: center;
    align-items: center;
}

button { 
    height: 40px;
    width: 76px;
}

input {
    height: 30px;
    width: 95px;
}

.radios {
    display: flex;
}

h1 {
    text-align: center;
}
